<a href="https://colab.research.google.com/github/18K41A0253/Assignment-II/blob/master/Assignment_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.Area of Triangle : Given the lengths of        three sides of a triangle, calculate the area of the triangle.

In [9]:
A = float(input('Enter the first side : '))
B = float(input('Enter the second side : '))
C = float(input('Enter the third side : '))
S = (A+B+C)/2
a=(S*(S-A)*(S-B)*(S-C)) ** 0.5
print('The area of the triangle is',a)

Enter the first side : 4
Enter the second side : 3
Enter the third side : 5
The area of the triangle is 6.0
Enter the first side : 5
Enter the second side : 6
Enter the third side : 6
The area of the triangle is 13.635890143294644

2.Take a string from end user and check if the value is palindrome or not

In [ ]:
 a=input('enter a string : ')
b=a[::-1]
if a==b:
  print("string is a palindrome")
else:
  print("string is a not palindrome")

enter a string : pop
string is a palindrome

3.Write a program that reads a year from the user and displays a message Indicating     whether or not it is a leap year.

In [ ]:
 y=int(input('enter year you want to check : '))
if y%4==0:
  print(y,'is a leap year')
else:
  print(y,'is not a leap year')

enter year you want to check : 2000
2000 is a leap year

4.Take a string as input, and replaces spaces “ “ with hyphens “-”, and returns a string.

In [ ]:
 st=input("Enter any string :")
st=st.replace(' ','-')
print("string after replacing space with hyphen is = ",st)

Enter any string :AI is an intresting subject
string after replacing space with hyphen is =  AI-is-an-intresting-subject

5.Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically)

In [ ]:
 s = input("enter list of words with commas : ")
k = [k for k in s.split(",")]
print('alphanumerically sorted string is :')
print(",".join(sorted(list(set(k)))))

enter list of words with commas : Egg,banana,sprouts
alphanumerically sorted string is :
Egg,banana,sprouts

6.Tax Calculator Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
 t={1:0,2:0.05,3:0.1,4:0.15,5:0.2,6:0.25,7:0.3}
sa=int(input('please enter your salary : '))
if sa<250000:
  i=1
elif 250001<sa<500000:
  i=2
elif 500001<sa<750000:
  i=3
elif 750001<sa<1000000:
  i=4
elif 1000001<sa<1250000:
  i=5
elif 1250001<sa<1500000:
  i=6
else:
  i=7
sa=sa*t[i]
print("your tax payablee is", sa)

please enter your salary : 200000
your tax payablee is 0

7. Take a list of integers as an argument, and converts it into a single integer (return the integer).

In [ ]:
 s=[]
n=int(input('Enter number of elements :')) 
print('enter elements :')
for i in range(0, n): 
    e = int(input()) 
    s.append(e) 
print('list of integers entered is',s)
k=i=0
for n in s:
  k=n+k*10
  i+=1
print('the list as single integer is - ',k)

Enter number of elements :6
enter elements :
1
2
3
4
5
6
list of integers entered is [1, 2, 3, 4, 5, 6]
the list as single integer is -  123456

8.Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
 d=int(input('enter number of days'))
h=int(input('enter number of hours'))
m=int(input('enter number of minutes'))
s=int(input('enter number of seconds'))
print('total number of seconds are ',d*86400+h*3600+m*60+s)

enter number of days3
enter number of hours13
enter number of minutes600
enter number of seconds678
total number of seconds are  342678

 9.Given three integers (given through user input), sort the numbers using |min| and |max| functions.

In [ ]:
 a=int(input('enter first number : '))
b=int(input('enter second number : '))
c=int(input('enter third number : '))
ma=max(a,b,c)
mi=min(a,b,c)
print('the numbers are shorted in order of: ',mi,a+b+c-(ma+mi),ma)

enter first number : 7868
enter second number : 6755
enter third number : 0987
the numbers are shorted in order of:  987 6755 7868

10.Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
 y = int(input("enter a year: "))
m= int(input("Input a month [1-12]: "))
d = int(input("Input a day [1-31]: "))
if (y % 4 == 0):
  ly = True
else:
  ly = False
if m in (1, 3, 5, 7, 8, 10, 12):
  ml= 31
elif m == 2:
    if ly:
        ml= 29
    else:
        ml = 28
else:
    ml= 30
if d < ml:
    d += 1
else:
    d=1
    if m == 12:
        m = 1
        y += 1
    else:
        m += 1
print("The next date : " ,y,m,d)

enter a year: 1999
Input a month [1-12]: 3
Input a day [1-31]: 23
The next date :  1999 3 24

 11.Compute product of a list of numbers [45 ,3,2,89,72,1,10,7] Output: 121111200

In [ ]:
 l=[45,3,2,89,72,1,10,7]
r=1
for i in l:
  r*=i
print("multiplication of all elements : ",r)

multiplication of all elements :  121111200

12.Compute given Num_list = [5, 6,8 ,34,89,1] to get desired output Output: Out_list=[11,14,42,123,90]

In [ ]:
 l=[]
n=int(input('Enter number of elements :')) 
print('enter elements :')
for i in range(0, n): 
    e = int(input()) 
    l.append(e)
print('list you have entered is : ',str(l)) 
s=[] 
for i in range(1, len(l)): 
    s.append(l[i]+l[i-1]) 
print ("difference list : ",s)

Enter number of elements :3
enter elements :
677
5
7
list you have entered is :  [677, 5, 7]
difference list :  [682, 12]

 13.Compute given Num_tuple = (5, 6,8 ,3,9,1) to get desired output Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
 l=(5,6,8,3,9,1)
p=[]
r=1
for i in l:
  r*=i
  p.append(r)
print("multiplication list of all elements is : ",p)

multiplication list of all elements is :  [5, 30, 240, 720, 6480, 6480]

 14.Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
 n=int(input('enter an integer : '))
s=[]
for x in str(n):
  s.append(int(x))
print(s)

enter an integer : 525255
[5, 2, 5, 2, 5, 5]

 15.Write a program that finds the longest palindromic substring of a given string

In [ ]:
 
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : BHARATH
ARA

 16.Substring Check (Bug Funny) Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:
1010110010 10110
1110111011 10011
First two lines of output: 1 0

In [ ]:
 t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

2
Enter A string and B string : Bharath ara
1
Enter A string and B string : ara Bharat
0

 17.POUR1 - Pouring water Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels. At the beginning both vessels are empty. The following operations are counted as 'steps':emptying a vessel,filling a vessel,pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.Input : An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.Output : For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

In [ ]:
 
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 299
Enter capacity of vessel b : 399
Enter capacity to be obtained :7889
Minimum number of steps required is :  -1
Enter capacity of vessel a : 3
Enter capacity of vessel b : 7
Enter capacity to be obtained :6
Minimum number of steps required is :  4